

<main class="signin-main">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="form-main">
        <p class="form-title">
            Sign In
        </p>
        <input 
            type="email" 
            formControlName="email" 
            class="form-input" 
            placeholder="Email@example.com"
        >
        <input 
            type="password" 
            formControlName="password" 
            class="form-input" 
            placeholder="Password"
        >
        <input 
            type="submit" 
            [disabled]="!signinForm.valid" 
            class="form-submit"
        >
        <div class="options">
            <a routerLink="/signup">Sign Up</a>
            <a routerLink="/forgotpassword">Forgot Password</a>
        </div>
    </form>
</main>
